
<div class="container">

<div class="row">

  <div class="col">
  <h2 style="font-family:Tempus Sans ITC">El aroma mágico</h2>
  <hr>
  <img class="img-fluid" src="../../../assets/imagenes/BannerTrabajo.JPG" height:100 alt="Banner"/>
  <hr>

</div>
</div>
</div>


<!-- <div class="container-fluid">
  <div class="row">
    <div class="col mb-2" *ngFor="let cafe of cafes">
          <div class="card p-2" style="width: 15rem; height: 33rem">
              <img
                class="card-img-top"
                src="{{ cafe.imagen }}"
                alt="{{ cafe.nombre }}"
              />
              <div class="card-body">
                <h5 class="card-title">{{ cafe.nombre }}</h5>

              </div>
           </div>
      </div>
   </div>
</div> -->



<div class="container">

<div class="row">

<div class="col-8">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
            <th scope="col">Región</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let cafe of cafes">
            <th scope="row">{{cafe.id}}</th>
            <td>{{cafe.nombre}}</td>
            <td>{{cafe.tipo}}</td>
            <td>{{cafe.region}}</td>
          </tr>
          <tr>


        </tbody>
      </table>
    </div>


</div>

</div>


<div class="container">

  <div class="row">

    <p class="piePagina">Contact us: +57 3102105253 - info@elaromagico.com - @elaromagico</p>
  </div>

</div>
